.nav {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 10%;
    font-size: 50px;
  }

.nav-button {
    background: transparent;
    line-height: 40px;
    margin: 0 2% 0 2%;
}

.nav-button:hover {
    animation: tilt-shaking 0.2s infinite linear;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }