#gallery{
    background-image: $bg-image-2;
    background-size: 3000px;
    position: relative;
    max-height: 700px;
    box-shadow: 0 0 200px #000;
    padding-bottom: 80px;
    text-align: center;
    overflow: hidden;
    transition: max-height 1s;
    &.expanded {
        max-height: 3000px;
    }
}

.expand-toggle {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
}

.image-card {
    position: relative;
    background-color: $bg-color-1;
    @include flexCenter;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 30px 10px white;
    transition: transform 0.5s;
    overflow: hidden;
    &:hover {
        transform: scale(1.05);
    }
    &.redirect-menu {
        flex-direction: column;
        font-weight: bold;
        font-size: 35px;
    }
    &.small {
        width: 175px;
        height: 175px;
        border-radius: 15px;
        margin: 5px;
        font-weight: bold;
        font-size: 20px !important;
    }
}

.image {
    flex-shrink: 0;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.link {
    @include flexCenter;
    background-color: white;
    flex-grow: 0;
    width: 90%;
    height: 80px;
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
    border-radius: 30px;
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px white;
    }
    &.small {
        height: 60px;
    }
}

.link-icon {
    margin: 9px 0 0 10px;
    &.link-icon.small {
        margin: -3px 0 0 10px;
    }
}