$bg-color-1: #f6ede4;
$bg-image-1: url(./../res/ui/Backdrop_1.svg);
$bg-image-2: url(./../res/ui/backdrop_2.jpg);

@mixin flexCenter($wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: center;
}

@import 'animations';
@import 'gallery';
@import 'menus';
@import 'contacts';

@font-face {
    font-family: "adelia";
    src: url(./../res/fonts/adelia.ttf);
}

@font-face {
    font-family: "zai pencil";
    src: url(./../res/fonts/zai_PencilTypewriter.ttf);
}

body {
    background-color: $bg-color-1;
    background-image: $bg-image-1;
    min-width: 300px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 6em;
}

.hero {
    display: flex;
    opacity: 0;
    position: relative;
    height: 1000px;
    min-height: 600px;
    animation: fade-in 0.5s 0.1s forwards;
} 
  
.logo {
    position: relative;
    opacity: 0;
    width: 300px;
    height: 300px;
    top: 15%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px #000;
    animation: pop-in 1s 0.1s forwards;
}

.nav {
    @include flexCenter;
    position: absolute;
    width: 100%;
    bottom: 10%;
    font-size: 50px;
}
  
.nav-button {
    background: transparent;
    line-height: 40px;
    margin: 0 2% 0 2%;
    &:hover {
       animation: tilt-shaking 0.2s infinite linear; 
    }
}
  
p.subtitle {
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 30px;
}

.content {
  @include flexCenter;
  width: 100%;
  padding-bottom: 50px;
  &.gallery {
    max-width: 1250px;
    margin: auto;
  }
}

