@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6ede4;
}

.App {
  text-align: center;
  min-width: 600px;
  font-family: 'Amatic SC', cursive;
}

.hero {
  opacity: 0;
  position: relative;
  background-image: url(./res/ui/Backdrop_1.svg);
  height: 99vh;
  min-height: 600px;
} 

.hero.animated {
  animation: fade-in 0.5s 0.1s forwards;
}

.logo {
  opacity: 0;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 250px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 50px #000;
  transition: left 0.5s;
}

.logo.animated {
  animation: pop-in 1s 0.1s forwards;
}

#about {
  position: relative;
  height: 100vh; /*--------------------TODO: Add content to remove------------------------*/
  box-shadow: 0 -10px 50px #555;
  text-align: center;
}

#contacts {
  position: relative;
  height: 100vh; /*--------------------TODO: Add content to remove------------------------*/
  box-shadow: 0 -10px 50px #555;
  text-align: center;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

@keyframes pop-in {
  0% {opacity: 0; transform: translateY(80px)}
  40% {opacity: 1; transform: translateY(-30px)}
  100%{opacity: 1; transform: translateY(0px)}
}